@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("Generate Amortization Schedule", "Index", "Amortization")
    <p>Generate a schedule from a past query</p>
</div>
